<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appSettings>
		<clear />
	</appSettings>

	<system.web>
		<httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

		<httpModules>
			<clear />
		</httpModules>

		<httpHandlers>
			<clear />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<rewrite>
			<rules>
				<rule name="Redirect to https" stopProcessing="true">	
					<match url=".*" />	
					<conditions>	
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />	
					</conditions>	
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />	
				</rule>
				<rule name="redirect-" enabled="true" stopProcessing="true">
					<match url="^$" />
					<action type="Redirect" url="introduction" />
				</rule>
{% for directory in site.redirect_directories %}
				<rule name="redirect-directory-{{ directory.path | replace: '/', '-' }}" enabled="true">
					<match url="^{{ directory.path }}/?$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Redirect" url="{{ directory.url }}" redirectType="Found" />
				</rule>
{% endfor %}
{% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
				<rule name="redirect-{{ redirect | remove_first: '/' | replace: '/', '-' }}" enabled="true" stopProcessing="true">
					<match ignoreCase="false" url="^{{ redirect | remove_first: '/' }}$" />
					<action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" />
				</rule>
{% endfor %}{% endfor %}
				<rule name="Convert to lower case" enabled="true">
					<match url="^([^?]*[A-Z][^?]*)(\?.*)?" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" pattern="\.png|\.css|\.jpg|\.gif" negate="true" />
					</conditions>
					<action type="Redirect" url="{ToLower:{R:1}}{ToLower:{R:2}}" redirectType="Permanent" />
				</rule>

				<rule name="Hide .html ext" enabled="true">
					<match ignoreCase="true" url="^(.*)"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" pattern="\.png|\.css|\.jpg|\.gif" negate="true" />
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
					</conditions>
					<action type="Rewrite" url="{ToLower:{R:0}.html}"/>
				</rule>

				<rule name="Redirecting .html ext" enabled="true">
					<match url="^(.*)[.]html$"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="(.*)[.]html$"/>
					</conditions>
					<action type="Redirect" url="{ToLower:{R:1}}"/>
				</rule>

				<rule name="getting-started-basics" enabled="true" stopProcessing="true">
					<match url="^getting-started/mock" />
					<action type="Redirect" url="getting-started/api-basics/basics" />
				</rule>
				<rule name="getting-started-quick-start" enabled="true" stopProcessing="true">
					<match url="^getting-started/quick-start" />
					<action type="Redirect" url="getting-started/api-basics/basics" />
				</rule>
				<rule name="getting-started-overview" enabled="true" stopProcessing="true">
					<match url="^getting-started$" />
					<action type="Redirect" url="getting-started/installation-instructions" />
				</rule>
				<rule name="rapid-testing-with-justcode" enabled="true" stopProcessing="true">
					<match url="^basic-usage/rapid-testing-with-justcode$" />
					<action type="Redirect" url="introduction" />
				</rule>
				<rule name="openaccess-mocking" enabled="true" stopProcessing="true">
					<match url="^advanced-usage/openaccess-mocking$" />
					<action type="Redirect" url="introduction" />
				</rule>
				<rule name="scenarios" enabled="true" stopProcessing="true">
					<match url="^scenarios$" />
					<action type="Redirect" url="scenarios/setup-callbacks-with-ref-and-out-parameters" />
				</rule>
				<rule name="integrations-code-coverage-redirect" enabled="true" stopProcessing="true">
					<match url="^code-coverage\/((.*)).*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="integration/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="continuous-integration-redirect" enabled="true" stopProcessing="true">
					<match url="^continuous-integration\/((.*)).*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="integration/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="tfs-2010" enabled="true" stopProcessing="true">
					<match url="^continuous-integration/tfs-2010" />
					<action type="Redirect" url="continuous-integration/tfs-azure/tfs-2010" />
				</rule>
				<rule name="tfs-2012" enabled="true" stopProcessing="true">
					<match url="^continuous-integration/tfs-2012" />
					<action type="Redirect" url="continuous-integration/tfs-azure/tfs-2012" />
				</rule>
				<rule name="tfs-2013" enabled="true" stopProcessing="true">
					<match url="^continuous-integration/tfs-2013" />
					<action type="Redirect" url="continuous-integration/tfs-azure/tfs-2013" />
				</rule>
				<rule name="final-mocking" enabled="true" stopProcessing="true">
					<match url="^advanced-usage/final-mocking" />
					<action type="Redirect" url="advanced-usage/concrete-mocking" />
				</rule>				
				<rule name="api-reference-trial" enabled="true" stopProcessing="true">
					<match url="^api/(.*)_telerik_justmock_trial(.*)" />
					<action type="Redirect" url="api/Telerik.JustMock.Trial" />
				</rule>
				<rule name="api-reference-setup" enabled="true" stopProcessing="true">
					<match url="^api/(.*)_telerik_justmock_setup(.*)" />
					<action type="Redirect" url="api/Telerik.JustMock.Setup" />
				</rule>
				<rule name="api-reference-helpers" enabled="true" stopProcessing="true">
					<match url="^api/(.*)_telerik_justmock_helpers(.*)" />
					<action type="Redirect" url="api/Telerik.JustMock.Helpers" />
				</rule>
				<rule name="api-reference-automock" enabled="true" stopProcessing="true">
					<match url="^api/(.*)_telerik_justmock_automock(.*)" />
					<action type="Redirect" url="api/Telerik.JustMock.AutoMock" />
				</rule>
				<rule name="api-reference-justmock" enabled="true" stopProcessing="true">
					<match url="^api/(.*)_telerik_justmock(.*)" />
					<action type="Redirect" url="api/Telerik.JustMock" />
				</rule>
				<rule name="api-reference-r_project_telerikjustmock" enabled="true" stopProcessing="true">
					<match url="^api/((.*?)_)+" />
					<action type="Redirect" url="api/" />
				</rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>
		<httpErrors errorMode="Custom" defaultResponseMode="File" >
			<remove statusCode="404" />
			<error statusCode="404" path="40x.html" />
		</httpErrors>
	</system.webServer>

</configuration>
